.container {
  margin-top: 40px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: white;
}

.item {
  list-style: none;
  margin-left: 20px;
  flex-basis: calc(16.66667% - 20px);
}
